.feinman__title {
  max-width: 648px;
/*   Извиняюсь за излишние описания мысленного процесса, но просто с адаптивностью пока сложно

не уверен что здесь нужно указывать max-width потому что это прямой
потомок .feinman который в свою очередь как блочный элемент занимает 
всю доступную ширину следовательно его ширина наследуется от .page
и минимальная ширина блока 1100 px. Хотя возможно если мы будем менять 
для .page значения в зависимости от устройства это будет кстати.  */

  margin: 0 auto 70px auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}