@import url('./__triangle/kaufman__triangle.css');

.kaufman  {
  position: relative; 
  padding: 90px 0;
  color: #FFF;
  background-color: #1F1F1F;
  overflow: hidden;
  /* добавил, потому что блок с треугольником закрывал собой ссылки в footer, и они становились не кликабельными */
}