@import url('./__cell/table__cell.css');
@import url('./__cell/_theme/table__cell_theme_dark.css');
/* В прошлом ревью мне указали на ошибку:
    модификаторы нужно импортировать в файле элемента/блока, который они модифицируют
    В данном случае этот модификатор должен импортироваться в table__cell.css
Проблема в том, что table__cell.css содержит свойства которые перекрывают свойства его модификатора
я специально сверился с заданием в тренажере, и там в теме Пути к файлам и организация файлов по БЭМ 
в подтеме Структура для модификаторов в уроке номер 2 абсолютно зеркальная моему случаю ситуация,
и там нам предлагалось импортировать модификатор элемента в блок. */
@import url('./__heading/table__heading.css');
@import url('./__text/table__text.css');


 .table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;          
  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: space-between;
} 