@import url('./__author/footer__author.css');
@import url('./__column/footer__column.css');
@import url('./__column-heading/footer__column-heading.css');
@import url('./__column-links/footer__column-links.css');
@import url('./__columns/footer__columns.css');
@import url('./__social-icon/footer__social-icon.css');
.footer {
  background-color: #1F1F1F;
  color: #FFF;
  padding: 60px 0 40px 0;
  min-height: 350px;
  display: flex;
}