@keyframes link-hover {
  from {
    background-color: #F2F2F2 ; 
    color: inherit; 
  }
  to {
    background-color: #2F80ED;
    color: #FFF;  
    padding: 5px ;
  }
}

.header__link:hover , .feinman__link:hover {
  animation: link-hover .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}


@keyframes link-hover_theme_dark {
  from {
    background-color: inherit ; 
    color: inherit; 
  }
  to {
    padding: 5px 0 5px 0;
    background-color: #FFF ;
    color: #2F80ED;  
  }
}
.footer__column-link:hover  {
  animation: link-hover_theme_dark .2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}