.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}
.logo {
  background-image: url(../images/logo.svg);
  width: 183px;
  height: 32px;
}
.link {
  text-decoration: none; 
  color: inherit;
}

/* header */

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  /* здесь я решил использовать padding потому что это сократит код */  
  padding-left: 64px;
  background-color:#F2F2F2;
  position: relative;
  overflow: hidden;
}
.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 1;
}
.header__title  {
  align-self: center;
  width: 730px;
  line-height: 96px;
  font-size: 102px;
  font-weight: 600;
  z-index: 1;
}
.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  margin: 0;
  width: 388px;
  z-index: 1;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}
.header__link {
  color: #2F80ED;
}
.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
}
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  min-height: 536px; 
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
}

/* description */

.description  {
  margin: 100px 0;
 }
.two-columns {
  display: flex;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.two-columns__brief {
  width: 175px;
  margin: 0;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  color: #2F80ED;
}
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400; 
}
.two-columns__paragraph {
  margin:0 0 30px 0;
}
.two-columns__paragraph:last-child  {
  margin: 0;
}
.two-columns__span-accent {
  font-weight: 600;
}

/* digits */

.digits {
  margin: 100px 0;
  /* дублировал margin так как секция (должна быть?!) независимой от контекста хотя и без верхнего отступа все бы выглядело бы также. */
}
.section-title {
  width: 60%;
  position: relative;
  margin:0 auto 20px auto;
  text-align: center;
  line-height: 69px;
  font-size: 60px;
  font-weight: 600;
  z-index: 1;
}
.section-subtitle {
  width: 60%;
  text-align: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
  margin: 0 auto;
}
 .table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;          
  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: space-between;
} 
.table__cell {
  margin-top: 60px;
  width: 250px;
  padding: 0;
}
.table__heading {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}
.table__text {
  margin: 20px 0;
  font-style: normal;
  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
}

/* feinman */
  
.feinman {
  position: relative;
  height: 790px;
  background: #F2F2F2 url('../images/feinman.png') no-repeat 0% 100%;
  background-size: 867px 637px;
  padding-top: 100px;
  text-align: center;
}
.feinman__title {
  width: 648px;
  margin: 0 auto 70px auto;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
}
.feinman__subtitle {
  margin: 0 auto;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
}
.feinman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: 400;
} 

/* kaufman */

.kaufman  {
  position: relative; 
  padding: 90px 0;
  color: #FFF;
  background-color: #1F1F1F;
  overflow: hidden; 
  /* добавил, потому что блок с треугольником закрывал собой ссылки в footer, и они становились не кликабельными */
}
.kaufman__triangle  {
  position: absolute;
  top: 0;
  right: 0;
  width: 877px;
  height: 877px; 
  background: url(../images/triangle.svg) no-repeat;
  background-position: right -210px top;
  background-size: cover;
} 
.table__cell_theme_dark {
  width: 200px;
  margin-top: 80px;
  z-index: 1;
}

/* footer */

.footer {
  background-color: #1F1F1F;
  color: #FFF;
  padding: 60px 0 40px 0;
  min-height: 350px;
  display: flex;
}
.footer__columns {
  display: flex;
  width: 90%;
  margin: 0 auto;
  justify-content: space-between;
}
.footer__column_content_copyright{
  display: flex;
  flex-basis: 711px;
  flex-direction: column;
  justify-content: space-between;
}
.logo_place_footer  {
  background-image: url(../images/logo_white.svg);
  width: 183px;
  height: 35px; 
}
.footer__author {
  margin: 18px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}
.footer__column-heading {
  margin:0 0 20px 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}
.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: 400;
  padding: 0;
  margin: 20px 0 16px 0;
}
.footer__social-icon  {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 10px;
}
.footer__social-icon_facebook {
  background: url(../images/facebook_white.svg) no-repeat;
  background-size: contain;
  /* в прошлый раз было замечание что иконки не отображаются, путь был тот же самый, и у меня они отображались, если и сейчас у вас не будут отбражаться, то я не знаю в чем дело,
  путь верный (точно такой же как и в других изображениях), у меня отображается */
}
.footer__social-icon_vk {
  background: url(../images/vk_white.svg) no-repeat;
  background-size: contain;
}
.footer__social-icon_instagram  {
  background: url(../images/instagram_white.svg) no-repeat;
  background-size: contain;
}




